<ion-header no-border>
  <ion-toolbar style="margin-top: 20px">
    <ion-title>Chat with Rider</ion-title>
    <ion-button icon-only (click)="closeChat()" slot="end">
        <ion-icon name="close"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="ion-text-center" class="yes-scroll">
  <div class="followed-items">
    <ion-list class="ion-text-center" lines="none">
      <div class="ion-text-center" *ngFor="let event of eventList">
        <ion-item text-wrap color="primary" class="driver" *ngIf="!event.user">
          <p>{{event.driver}}</p>
        </ion-item>
        <ion-item text-wrap color="primary" class="user" *ngIf="!event.driver">
          <p>{{event.user}}</p>
        </ion-item>
      </div>
    </ion-list>
  </div>
</ion-content>
<!-- 
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button
          id="container_1"
          color="primary"
          (click)="closeChat()"
          shape="round"
        >
          Close
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button
          id="container_1"
          color="primary"
          (click)="Send()"
          shape="round"
        >
          New Message
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer> -->

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-input
          type="text"
          placeholder="Type a message"
          [(ngModel)]="data.message"
          name="message"
        ></ion-input>
      </ion-col>
      <ion-col size="2" (click)="Send()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
