// ion-toolbar {
//   margin-top: 10px;
// }
// ion-content {
//   overflow: overflow-y auto;
//   background-size: cover;
//   margin-top: 0% !important;
//   .form {
//     height: 200px auto;
//     background: rgb(255, 255, 255);
//     padding: 10px;

//     border: solid 1px rgb(182, 182, 182);
//     margin-top: 0px;
//     ion-button {
//       margin-top: 20px !important;
//     }
//   }

//   ion-input {
//     --padding-top: 20px;
//     border-radius: 10px;
//     border: 1px solid #e9e9e9;
//     background: #e9e9e9;
//   }

//   ion-datetime {
//     border-radius: 10px;
//     border: 1px solid #e9e9e9;
//     background: #e9e9e9;
//   }

//   ion-select {
//     border-radius: 10px;
//     border: 1px solid #e9e9e9;
//     background: #e9e9e9;
//     height: 50px;
//   }

//   ion-label {
//     font-size: 20px;
//   }
//   ion-item {
//     padding-top: 0px;
//   }
//   .p {
//     padding-top: 30px;
//   }
//   .p1 {
//     padding-top: 20px;
//   }
//   ion-item-divider {
//     --padding-bottom: -10px;
//   }

//   .native-input.sc-ion-input-md {
//     margin-left: 20px !important;
//   }
// }

// .label-floating.sc-ion-label-md-h,
// .label-stacked.sc-ion-label-md-h {
//   margin-bottom: 15px;
// }

// ion-item {
//   --border-width: 0 0 0px 0;
// }

// :host(.item-interactive.ion-valid) {
//   --highlight-background: #4246440a;
// }

// // .background {

// //   height: 50%;
// //   background-position: center;
// //   background-repeat: no-repeat;
// //   background-size: cover;
// //   align-content: center;
// //   text-align: center;
// // }

// #overlay {
//   // position: fixed;
//   /* display: none; */
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: #fffdfdd6;
//   z-index: 10;
//   cursor: pointer;
// }

// // :host(.item-interactive.ion-valid) {
// //   --highlight-background: var(--highlight-color-valid);
// // }

// ion-item {
//   --border-color: var(--ion-color-danger, #ffffff);
//   --border-color: white; // default underline color
//   --highlight-color-invalid: rgb(230, 14, 14); // invalid underline color
//   --highlight-color-valid: rgb(255, 255, 255); // valid underline color
// }





///NEW SIGNUP CSS


  #iconeye {
    color: white;
  }

  ion-icon {
    color: #f1f3ee !important;
  }
  .pad {
    text-align: center;
  }

  .button.customBtn {
    width: 100%;
    text-align: center;
  }

  #textLogin {
    text-align: center;
    padding-top: 5%;
    font-weight: 700;
  }

  .logo_position {
    padding-top: 5%;
    // height: 15%;
    width: 30%;
  }

  .button-clear-md-dark {
    background-color: #171717 !important;
  }


  .item-md {
   
    height: 100%;
    // border-radius: 6px !important;
    background-color: transparent !important;
    // margin-left: 4% !important;
  }

 

  .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid #000 !important;
  }

  .button-inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    
  }

  ion-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    max-width: 100% !important;
  }

  .select-text {
    overflow: visible !important;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 21px;
    font-size: inherit;
    /* text-overflow: inherit; */
    white-space: nowrap;
    /* margin-right: 100%; */
  }

  .select-md {
    padding: 13px 52px 13px 16px !important;
    color: black !important;
    /* margin-right: 100%; */
  }

  .select-md .select-placeholder {
    color: black !important;
    z-index: 122 !important;
  }

  .datetime-md .datetime-placeholder {
    color: black !important;
    z-index: 122 !important;
  }

  .label-md,
  .item-datetime .label-md {
    color: black !important;
    z-index: 122 !important;
  }

  .label-md {
    margin: 12px 129px 19px 0px !important;
  }

 

  .background {
    background-image: url("/assets/img/circle.png");

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    text-align: center;
  }

  ion-card.card {
    box-shadow: none;
    background: none;
    border-radius: 5px;
    padding-left: 10px;
  }

  ion-icon {
    color: #789527;
  }



  @media (min-height: 320px) and (max-height: 600px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .row {
      padding-top: 0%;
      text-align: center;
    }
  }

  @media (max-height: 640px) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(110% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (min-height: 360px) and (orientation: portrait) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(110% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (min-height: 320px) and (orientation: portrait) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(110% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (min-height: 480px) and (orientation: portrait) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(110% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (min-height: 540px) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(105% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (min-height: 540px) and (min-width: 320px) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(107% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (max-height: 779px) and (min-width: 203px) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(115% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (max-height: 1050px) and (min-width: 203px) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(100% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (max-height: 831px) and (min-width: 203px) {
    .row {
      padding-top: 0%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(110% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      text-align: center;
    }
  }

  @media (max-height: 752px) and (min-width: 203px) {
    .padd {
      padding-top: 30%;
    }
  }

  @media (max-height: 600px) {
    .row {
      padding-top: 7%;
      text-align: center;
    }

    .card {
      margin: 0 0px;
      width: calc(100% - 0px);
      height: calc(97% - 0px);
      padding: 14px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 6px;
      text-align: center;
    }
  }

  @media (min-width: 411px) {
    .logo_position {
      padding-top: 5%;
      height: 15%;
      width: 26%;
    }
  }

  //   PROGRESS BAR
  .container {
    width: 100%;
    // margin: 100px auto;
  }
  .progressbar {
    counter-reset: step;
    margin-left: -10%;
  }
  .progressbar li {
    list-style-type: none;
    width: 33%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
  }
  .progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
  }

  .progressbar li:after {
    width: 70%;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -35%;
    z-index: 0;
  }
  .progressbar li:first-child:after {
    content: none;
  }
  .progressbar li.active {
    color: #fbb91d;
  }
  .progressbar li.active:before {
    border-color: #fbb91d;
  }
  .progressbar li.active + li:after {
    background-color: #fbb91d;
  }

  .border1 {
    background: #efefef;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 400px;
    padding: 15px;
    position: relative;
    margin-top: 40%;
    width: 174%;
    margin-left: -3%;
  }

  .border1 p {
    margin: 0 0 10px;
  }
  .border1 p:last-of-type {
    margin-bottom: 0;
  }

  .border1::after {
    border-right: 20px solid transparent;
    border-bottom: 20px solid #efefef;
    top: -20px;
    content: "";
    position: absolute;
    right: 59px;
  }

  .border2 {
    background: #efefef;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 1.2rem;
    line-height: 1.3;
    margin: 0 auto 40px;
    max-width: 400px;
    padding: 15px;
    position: relative;
    margin-top: 40%;
    width: 174%;
    margin-left: -75%;
  }

  .border2 p {
    margin: 0 0 10px;
  }
  .border2 p:last-of-type {
    margin-bottom: 0;
  }

  .border2::after {
    border-right: 20px solid transparent;
    border-bottom: 20px solid #efefef;
    top: -20px;
    content: "";
    position: absolute;
    right: 26px;
  }

