.btn-primary {
  border: 0;
  border-radius: 6px;
  font-family: inherit;
  font-style: inherit;
  font-variant: inherit;
  line-height: 1;
  text-transform: none;
  cursor: pointer;
  -webkit-appearance: button;
  background-color: #000000 !important;
  --background-color: #000000 !important;
  color: #fbb91d !important;
  height: 40px;
}

.test{
  text-align: center
}

ion-content{
button.btn-primary2 {
    border-radius: 17px;
   --ion-background-color:#b72569 !important;
  background-color:#fbb91d !important;
    font-size: 17px !important;
    line-height: 4;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
  } 
}

.btn-primary2 {
    border-radius: 17px;
    // --ion-background-color:#b72569 !important;
  background-color:#fbb91d !important;
    font-size: 17px !important;
    line-height: 4;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
  } 

  // angular4-paystack{
  //     border-radius: 17px;
  //   // --ion-background-color:#b72569 !important;
  // background-color:#fbb91d !important;
  //   font-size: 17px !important;
  //   line-height: 4;
  //   padding-left: 20px;
  //   padding-right: 20px;
  //   color: rgb(0, 0, 0);
  
  // }

  btn-primary2 {
    border-radius: 17px;
    // --ion-background-color:#b72569 !important;
  background-color:#fbb91d !important;
    font-size: 17px !important;
    line-height: 4;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
  } 

button {
  border: 0;
  border-radius: 6px;
  font-family: inherit;
  font-style: inherit;
  font-variant: inherit;
  line-height: 1;
  text-transform: none;
  cursor: pointer;
  -webkit-appearance: button;
    border-radius: 17px;
    // --ion-background-color:#b72569 !important;
  background-color:#fbb91d !important;
    font-size: 17px !important;
    line-height: 4;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(0, 0, 0);
}

// button {
//   border: 0;
//   border-radius: 0;
//   font-family: inherit;
//   font-style: inherit;
//   font-variant: inherit;
//   line-height: 1;
//   text-transform: none;
//   cursor: pointer;
//   -webkit-appearance: button;
//   --background: #fbb91d !important;
//   margin: 16px;
// }

.centerDiv2 {
  position: relative;
  text-align: center;
  margin-top: 5%;
}

ion-footer {
  background: transparent !important;
}

.footer-md:before {
  left: 0;
  top: -2px;
  bottom: auto;
  background-position: left 0 top 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: url();
  background-repeat: repeat-x;
  content: "" !important;
}
