<ion-header no-border>
  <ion-toolbar style="margin-top: 20px">
    <ion-button (click)="goBack()" color="primary" fill="clear">
      <ion-icon style="font-size: 1.5em" name="arrow-back"></ion-icon>
      <span style="margin-left: 30px; font-size: 1.4em"
        >Commission Payment</span
      >
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

    <div class="test" >

        <ion-item  style="text-align: left;">
        <h4 style="text-align: left;">
      Your Earnings was:  <span style="color: red">GHC {{mr}}</span>
    </h4>
    </ion-item>
      <ion-item  style="text-align: left;">
     <h4 style="text-align: left;">
    *No Bonus Earned <span style='font-size:10px;'>&#128542;</span>. Ride more to unlock the bonus
    </h4>
    </ion-item>
  <ion-item  style="text-align: left;">
  
    <!-- <ion-input
      type="number"
      placeholder="Enter Amount you want to pay"
      [(ngModel)]="amount"
    ></ion-input> -->

       <h4 style="text-align: left;">
      Pay your commission of <span style="color: red">GHC {{commission}}</span> with a single click
    </h4>
  </ion-item>


  <div class="centerDiv2" >
    <angular4-paystack
      [key]="'pk_live_caabde47a485606dc025e27220d3c03548aa40f2'"
      [email]="email"
      [amount]="commission * 100"
      [ref]="random_id"
      [channels]="channels"
      [currency]="'GHS'"
      [class]="'btn-primary2'"
      (close)="paymentCancel()"
      (callback)="paymentDone($event)"
      >Pay with Mobile Money/Card</angular4-paystack
    >
  </div>

  </div>




  <!-- <div *ngIf ="has_subscribed == 'subscriptions'">
  <ion-item *ngIf="ph.funds" style="text-align: center; margin-top: 20%">
    <h4>
      You have successfully funded
      <span style="color: #fbb91d">GHC {{ph.funds}} </span>in your wallet. You
      have 30 days to use it on Call4Ride. Enjoy driving!
    </h4>
  </ion-item>

  <div class="centerDiv2" *ngIf="ph.funds">
    <ion-button (click)="updateFundsO()" slot="end">
      <ion-icon class="ion-text-center" name="ios-add"></ion-icon> Renew 30- day
      Subscription
    </ion-button>
  </div>


  <div style="text-align: center; margin-top: 20%" *ngIf="!ph.funds">
    <h4>Subscribe to drive with call4ride!</h4>

    <p>
      Fund your wallet of <span style="color: #fbb91d">GHC 100 </span>and have
      30 days to use it on Call4Ride. Enjoy driving!
    </p>

    <div class="centerDiv2">
      <ion-button (click)="subscribe()" slot="end">
        <ion-icon class="ion-text-center" name="ios-add"></ion-icon> Fund Wallet
      </ion-button>
    </div>
  </div>

  <div class="centerDiv2" *ngIf="funds">
    <angular4-paystack
      [key]="'pk_live_caabde47a485606dc025e27220d3c03548aa40f2'"
      [email]="'nana@Call4Ride.com'"
      [amount]="funds"
      [ref]="random_id"
      [channels]="channels"
      [currency]="'GHS'"
      (close)="paymentCancel()"
      (callback)="paymentDone($event)"
      >Pay GHC {{funds}} with Mobile Money/Card</angular4-paystack
    >
  </div>

   <div class="centerDiv2">
      <ion-button (click)="chooseSubscriptiontype()" slot="end">
        <ion-icon class="ion-text-center" name="ios-add"></ion-icon> Change Plan
      </ion-button>
    </div>
  </div>

  <div *ngIf ="has_subscribed == 'commission'">
      <div style="text-align: center; margin-top: 20%">
    <h4>You are on the Commision Plan</h4>

    <p>
      This mean you pay  <span style="color: #fbb91d">%15 </span> of every sale you make. Enjoy driving!
    </p>

    <div class="centerDiv2">
      <ion-button (click)="chooseSubscriptiontype()" slot="end">
        <ion-icon class="ion-text-center" name="ios-add"></ion-icon> Change Plan
      </ion-button>
    </div>
  </div>

  </div>

    <div *ngIf ="has_subscribed == undefined">
      <div style="text-align: center; margin-top: 20%">
    <h4>You are currently not on any Subscription or Commission plan</h4>

    <p>
      This means you cannot go   <span style="color: #002311">ONLINE </span>and make some money. Please choose a plan and enjoy driving!
    </p>

    <div class="centerDiv2">
      <ion-button (click)="chooseSubscriptiontype()" slot="end">
        <ion-icon class="ion-text-center" name="ios-add"></ion-icon> Choose Subscription or Commission Plan
      </ion-button>
    </div>
  </div>

  </div> -->

</ion-content>

<ion-footer>
  <img src="/assets/img/payment.png" />
</ion-footer>
