<ion-header no-border>
  <ion-toolbar>
    <ion-title class="ion-text-center"> {{lp.translate()[0].l3}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div [ngStyle]="{'margin-top': 30 + '%'}">
    <h3 class="ion-text-center">
      Thanks for joining Call4Ride as a partner. We will Review Your registration
      And notify you on approval. Kindly come to our in office with your car and
      your documents (provided below) for check up and verification.
      <p>Our Office: Santa Maria</p>
      <p>1. A copy of your Driving License</p>
      <p>2. A copy of your Car Insurance Document</p>
      <p>3. Company Registration DVLA Registration</p>
    </h3>
  </div>

  <ion-button
    class="button"
    size="large"
    [ngStyle]="{'margin-top': 30 + '%'}"
    color="primary"
    expand="block"
    (click)="close()"
  >
    Accept
  </ion-button>

  <p class="centerTextfoot">
    <img src="/assets/img/happy2.png" />
  </p>
</ion-content>

<!-- <ion-footer>
  <img src="/assets/img/happy2.png" />
</ion-footer> -->
