<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Campaigns</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-header no-border>
  <ion-toolbar>
    <ion-button fill="clear" (click)="goBack()" color="primary">
      <ion-icon style="font-size: 1.5em" name="arrow-back"></ion-icon>
      <span style="margin-left: 30px; font-size: 1.4em"
        >Campaigns</span
      >
    </ion-button>
  </ion-toolbar>
</ion-header> 

<ion-content class="padding" class="yes-scroll">
  <div class="followed-items">
    <ion-list class="ion-text-center" class="padding">
     

      <ion-card (click)="goto()" *ngFor="let event of campaignss">
        <ion-item no-lines>
          <div class="button_text">
            <p class="button_text">{{todayDate | date:'mediumDate'}}</p>
          </div>
          <ion-badge color="danger" slot="end">Rush</ion-badge>
        </ion-item>
        <h4 class="dateText"><span style="font-size: 34px;
    color: black;">{{event?.amount}}GHS</span> rush bonus</h4>
        <ion-row>
          <ion-list lines="none">
            <p class="dateText">
             {{event?.description}}
            </p>
            <div class="dateText">
            <ion-badge color="primary" slot="end">Trips: {{total_completedList}}/{{event?.no_trips}}</ion-badge> &nbsp;
            <ion-badge color="secondary" slot="end">Hours: {{hours}}h/{{minute}}m</ion-badge>
            </div>
          </ion-list>
        </ion-row>
      </ion-card>
      <br>

      <!-- <ion-card (click)="goto()">
        <ion-item no-lines>
          <div class="button_text">
            <p class="button_text">{{todayDate | date:'mediumDate'}}</p>
          </div>
          <ion-badge color="danger" slot="end">Rush</ion-badge>
        </ion-item>
        <h4 class="dateText"><span style="font-size: 34px;
    color: black;">10GHS</span> rush bonus</h4>
        <ion-row>
          <ion-list lines="none">
            <p class="dateText">
              Stay online for 2 hours, complete 3 rides, accept and complete 85%
              of your orders.
            </p>
            <div class="dateText">
            <ion-badge color="primary" slot="end">Trips: {{total_completedList}}/{{total_trips}}</ion-badge> &nbsp;
            <ion-badge color="secondary" slot="end">Hours: {{hours}}h/{{minute}}m</ion-badge>
            </div>
          </ion-list>
        </ion-row>
      </ion-card> -->
    </ion-list>
  </div>
</ion-content>

<ion-footer> </ion-footer>
