ion-content {
  .drive {
    color: #f7f7f7;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .price {
    color: rgb(0, 255, 0);
  }

  .date {
    color: #fbb91d;
  }

  .dateText{
    text-align: left;
    padding-left: 5%;
  }

  .destination {
    color: rgb(246, 252, 255);
  }

  .location {
    color: whitesmoke;
  }

  ion-item {
    margin-top: 24px;
    // margin-bottom: 15px;
    box-shadow: none;
  }
  border-bottom: 1px solid rgba(212, 212, 212, 0.93) !important;
}

.hists {
border: 1px solid;
    margin: 8px;
    border-radius: 20px;
    --background: rgb(28 31 70);
  color: light;
}

.price {
  color: rgb(0, 110, 0);
}

ion-footer {
  border-top: 1.4px solid rgba(212, 212, 212, 0.93);
}
