<!-- <ion-content>
  <div class="container ion-text-center">
    <div class="vertical-center">
      <img src="/assets/img/eklogo.png" class="logoSize" />
    </div>
  </div>
</ion-content> -->

<ion-content>
  <div class="back">
    <ion-row id="test">
      <ion-col size="6"> <div class="logoSize">
          <img src="/assets/img/1.png"  />
      </div></ion-col>
      <ion-col size="6"> <div class="logoSize2">
          <img src="/assets/img/3.png"  />
      </div></ion-col>
         <ion-col size="12">   <div class="logoSize5">
          <img src="/assets/img/5.png"  />
      </div></ion-col>
       <ion-col size="6">   <div class="logoSize3">
          <img src="/assets/img/4.png"  />
      </div></ion-col>
      <ion-col size="6">  <div class="logoSize4">
          <img src="/assets/img/6.png"  />
      </div></ion-col>
    </ion-row>

      <div class="pad" id="move-down2">
        <h1 class="font-style2">Earn without hassle</h1>
        <h4 class="font-style">Enjoy earning when driving with Call4Ride.</h4>
      </div>
        <div class="move-down">
        <p class="pad" style="text-align: center">
          <ion-button color="dark" class="button_style" (click)="login()">
            Get Started
            <ion-icon color="light" name="arrow-forward" slot="end"></ion-icon>
          </ion-button>
        </p>
      </div>
  
     
     
  </div> 

  <!-- <div class="system">
	<div class="system__orbit system__orbit--sun">
		<img src="https://www.dropbox.com/s/g02pto204mz1ywi/sun.png?raw=1" alt="Sun" class="system__icon system__icon--sun">
	</div>
	
	<div class="system__orbit system__orbit--mercury">
		<div class="system__planet system__planet--mercury">
			<img src="https://www.dropbox.com/s/2o38602cmwhhdi1/mercury.png?raw=1" >
		</div>
	</div>
	<div class="system__orbit system__orbit--venus">
		<div class="system__planet system__planet--venus">
			<img src="https://www.dropbox.com/s/wvictuysutiirho/venus.png?raw=1" >
		</div>
	</div>

</div> -->
</ion-content>
