// ion-content {
//   --background: #fbb91d;
// }
// .container {
//   -webkit-animation: rotate-center 1s ease-in-out both;
//   animation: rotate-center 1s ease-in-out both;
//   // position: relative;
//   img {
//     height: 100px;
//     margin-top: 60%;
//   }
// }

// @-webkit-keyframes rotate-center {
//   0% {
//     -webkit-transform: rotate(0);
//     transform: rotate(0);
//   }
//   100% {
//     -webkit-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }
// @keyframes rotate-center {
//   0% {
//     -webkit-transform: rotate(0);
//     transform: rotate(0);
//   }
//   100% {
//     -webkit-transform: rotate(360deg);
//     transform: rotate(360deg);
//   }
// }
// .vertical-center {
//   margin: 0;
//   position: absolute;
//   top: 50%;
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
// }

.back {
  background-image: url(/assets/img/circle.png);
  background-color: white;
    // background-color: #fbb91d;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  text-align: center;

}

.pad {
  text-align: center;
}

.font-style {
  color: rgb(5, 5, 5);
  font-size: 19px;
  text-align: center;
  font-weight: 100;
  // margin-left: 10px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.font-style2 {
  color: rgb(9, 9, 9);
  font-size: 32px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 1px;
}

.move-down {
  padding-top: 15%;
}

#move-down2 {
  padding-top: 0%;
}
.button_style {
  text-align: center;
  border-radius: 60px;
  height: 40px;
  width: 90%;
}

.logoSize {
text-align: center;
    width: 70%;
    align-content: center;
    margin-left: 3%;
    padding-top: 5%;
    margin-bottom: 0%;
    position: relative;
      // animation: spin infinite linear both;
       -webkit-animation:spin 2s ease-in-out alternate infinite;
     animation-duration: 2.0s;  
}

.logoSize2 {
     text-align: center;
    width: 70%;
    align-content: center;
    margin-left: 27%;
    padding-top: 3%;
    margin-bottom: 0%;
    position: relative;
      -webkit-animation:spin 2s ease-in-out alternate infinite;
     animation-duration: 3.0s;  
    //  animation: drawline infinite linear both;
    //  animation-duration: 1.5s;
    //  animation-fill-mode: forwards;
}
.logoSize3 {
 text-align: center;
    width: 90%;
    align-content: center;
    margin-left: 1%;
    margin-top: -15%;
    margin-bottom: 5%;
    position: relative;
      -webkit-animation:spin 2s ease-in-out alternate infinite;
     animation-duration: 4.0s;  
    //  animation: spin infinite linear both;
    //  animation-duration: 3.5s;
}
.logoSize4 {
 text-align: center;
    width: 90%;
    align-content: center;
    margin-left: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
      -webkit-animation:spin 2s ease-in-out alternate infinite;
     animation-duration: 5.0s;  
    //  animation: spin infinite linear both;
    //  animation-duration: 3.5s;
}

.logoSize5 {
     text-align: center;
    width: 50%;
    align-content: center;
    margin-left: 26%;
    margin-top: -16%;
    /* margin-bottom: 5%; */
    position: relative;
      -webkit-animation:spin 2s ease-in-out alternate infinite;
     animation-duration: 6.0s;  
    //  animation: spin infinite linear both;
    //  animation-duration: 3.5s;
}

#overlay {
  // position: fixed;
 
  // width: 100%;
  // height: 100%;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // background-color: #000000b8;
  // z-index: 10;
  // cursor: pointer;
}






// @keyframes spin {

//     0% {
//       margin-top: 0px;
//     }
//      50% {
//       margin-top: 10px;
//     }
//     90% {
//       margin-top: 20px;
//     }
 
// }

@-webkit-keyframes spin  {
   from {
      left:0px;
      top:0px;
   }
   
   to {
      left:0px;
      top:20px;
   }

}


@keyframes drawline {

    0% {
      height: 0;
    }
     50% {
     border-left: 1px solid red;
    }
    100% {
         height: 5vh;
     border-left: 1px solid rgb(50, 76, 119);
    }
 
}
