<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu
      type="overlay"
      contentId="main-content"
      color="primary"
      (ionWillOpen)="menuOpened()"
      (ionDrag)="menuOpened()"
      (ionDidClose)="menuClosed()"
    >
      <ion-menu-toggle auto-hide="false">
        <ion-header no-border style="margin-top: 40px" routerLink="/profile">
          <!-- <ion-toolbar> -->
          <ion-item *ngIf="ph.user" lines="none">
            <ion-grid>
              <ion-row>
                <ion-col size="4" routerLink="/profile">
                  <ion-avatar>
                    <ion-icon
                      name="contact"
                      id="drivericonSize"
                      *ngIf="!picture"
                    ></ion-icon>
                    <img *ngIf="picture" [src]="picture" />
                  </ion-avatar>
                </ion-col>
                <ion-col size="8" routerLink="/profile">
                  <ion-label *ngIf="first_name" class="ion-text-right">
                    <ion-label *ngIf="first_name" class="ion-text-right">
                      <h4>{{ first_name }}</h4>

                      <span class="bookTitle" id="editPro">{{ unique }}</span>
                    </ion-label>
                    <!-- <ion-label *ngIf="!ph.name" class="ion-text-right">
                      <h4>Add Your Name</h4>
                    </ion-label> -->
                  </ion-label> 
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <!-- </ion-toolbar> -->
        </ion-header>
      </ion-menu-toggle>
      <ion-content>
        <ion-item-divider></ion-item-divider>
        <ion-list lines="none" style="margin: 30px">
          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="[appPages[0].url]">
              <ion-icon slot="start" [name]="appPages[0].icon"></ion-icon>
              <ion-label>
                <h1>{{ appPages[0].title }}</h1>
              </ion-label>
            </ion-item>

            <ion-item [routerLink]="[appPages[1].url]">
              <ion-icon slot="start" [name]="appPages[1].icon"></ion-icon>
              <ion-label>
                <h1>{{ appPages[1].title }}</h1>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="[appPages[2].url]">
              <ion-icon slot="start" [name]="appPages[2].icon"></ion-icon>
              <ion-label>
                <h1>{{ appPages[2].title }}</h1>
              </ion-label>
            </ion-item>

            <ion-item [routerLink]="[appPages[3].url]">
              <ion-icon slot="start" [name]="appPages[3].icon"></ion-icon>
              <ion-label>
                <h1>{{ appPages[3].title }}</h1>
              </ion-label>
            </ion-item>

            <ion-item [routerLink]="[appPages[4].url]">
              <ion-icon slot="start" [name]="appPages[4].icon"></ion-icon>
              <ion-label>
                <h1>{{ appPages[4].title }}</h1>
              </ion-label>
            </ion-item>

            <ion-item [routerLink]="[appPages[5].url]">
              <ion-icon slot="start" [name]="appPages[5].icon"></ion-icon>
              <ion-label>
                <h1>{{ appPages[5].title }}</h1>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="[appPages[6].url]">
              <ion-icon slot="start" [name]="appPages[6].icon"></ion-icon>
              <ion-label>
                <h1>{{ appPages[6].title }}</h1>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="[appPages[7].url]">
              <ion-icon slot="start" [name]="appPages[7].icon"></ion-icon>
              <ion-label>
                <h1>{{ appPages[7].title }}</h1>
              </ion-label>
            </ion-item>
            <ion-item [routerLink]="[appPages[8].url]">
              <ion-icon slot="start" [name]="appPages[8].icon"></ion-icon>
              <ion-label>
                <h1>{{ appPages[8].title }}</h1>
              </ion-label>
            </ion-item>
             <ion-item [routerLink]="[appPages[8].url]">
              <ion-icon slot="start" [name]="appPages[8].icon"></ion-icon>
              <ion-label>
                <h1>{{ appPages[9].title }}</h1>
              </ion-label>
            </ion-item>

            <!-- <ion-item [routerLink]="[appPages[9].url]">
              <ion-icon slot="start" [name]="appPages[9].icon"></ion-icon>
              <ion-label>
                <h1>{{ appPages[9].title }}</h1>
              </ion-label>
            </ion-item> -->
            <!-- 
            <ion-item style="margin-top: 80%">
              <ion-list>
                <ion-item routerLink="/about">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  <ion-label style="padding-left: 20px">
                    <h2>call4ride</h2>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-item> -->
            <ion-item style="margin-top: 100%">
              <ion-list>
                <ion-item>
                  <!-- <ion-icon name="information-circle-outline"></ion-icon> -->
                  <ion-label style="padding-left: 20px">
                    <p>Version 1.0.0</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
