ion-label {
  font-size: 40px;
}

h4,
h1,
ion-icon {
  color: rgb(0, 0, 0);
}

ion-item {
  // padding-top: 15px;
  padding-top: 0 px;
}

#iconSize {
  font-size: 60px !important;
}

.resultContainer {
  width: 100%;
  position: relative;
  left: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
}

.bookImage,
.bookTitle,
.bookPrice {
  margin-left: 20px;
}

#editPro {
  color: rgba(251, 185, 29, 1);
  font-size: 14px;
}

.content-wrap,
.img-wrapper {
  display: inline-block;
  margin-left: 20px;
}

.sc-ion-label-md-s h1 {
  font-size: 16px !important;
}

#drivericonSize {
  font-size: 70px !important;
}

.button-native {
  box-shadow: none !important;
}

#drivericonSize {
  font-size: 70px !important;
}

#editPro {
  color: rgba(251, 185, 29, 1);
}

.item-interactive.ion-valid {
  --highlight-background: #ffffff !important;
}
