ion-content {
  overflow: visible !important;
  margin-top: 0% !important; // change her for ios

  // [noScroll] {
  //   overflow: hidden;
  // }

  .drive {
    color: #f7f7f7;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .price {
    color: rgb(0, 255, 0);
  }

  .date {
    color: rgb(255, 204, 62);
  }

  .destination {
    color: rgb(246, 252, 255);
  }

  .location {
    color: whitesmoke;
  }

  #map-canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
  }



  
}

//NEw Transition
label > input { 
  display: none;
   
}

#button0 {  
  position: absolute;
  line-height: 45px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  height: 50px;
  width: 50px;  
  border: 2px dashed black;
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.5;
}

label > input ~ .button { 
  cursor: pointer;
  position: absolute;
  line-height: 45px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  height: 50px;
  width: 100%;  
  
  box-sizing: border-box;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
}

label > input ~ #button1 { 
  
 
  left: 0;
    top: 0;
    top: 45%;

    background-color: #f2f2f2;
    color: black;
    margin-top: -6%;
    border-top-left-radius: 27px;
    border-top-right-radius: 30px;
    display: inline-block;
  
    text-align: center;
}


label > input:checked ~ #button1 { 
  left: calc(0% - 0px);
  top: calc(75% - 0%);
 
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}


.main-con{
  background: transparent;
}

  .driverFoundNew{
  left: 0%;
   
      top: 147%;
    height: 50%;
    width: 95%;
    margin-left: 1.5%;
    background: white;
    position: absolute;
    bottom: 0%;
    z-index: 1;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
//ENDE

ion-footer {
  @keyframes wiki {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .bars {
    width: 100%;
    position: absolute;
    background: #f7f7f7;
    height: auto;
    z-index: 4;
    line-height: 50px;
    text-align: center;

    .name_text {
      z-index: 3;
      font-size: 1.2em;
      text-align: center;
      margin-top: 0%;
    }

    .profile_bar {
      margin-top: 5%;
    }

    button {
      margin-top: 16%;
      height: auto;
      // margin-left: 2.5%;
      // padding: 0px;
      width: 95%;
      border-radius: 12px;
      text-align: center;
    }
  }

  #myButtin {
    border-radius: 12px;
    margin-top: 3%;
    padding: 5px;
    font-size: 1.2em;
    //background:#ffffff;
    //
    color: #ffffff;
  }

  p {
    padding: 0px;
    margin: 0px;
  }

  #aButton {
    background: rgb(36, 140, 210);
    color: #f7f7f7;
    border-radius: 12px;
    padding: 10px;
    width: 90%;
    //margin-left: 7px;
  }

  ion-title {
    color: #f7f7f7 !important;
  }
}

@keyframes left_right {
  0% {
    top: 75%;
  }

  50% {
    top: 80%;
  }

  100% {
    top: 75%;
  }
}

.rate {
  position: absolute;
  margin-left: 80%;
  margin-top: -10%;
  color: rgb(255, 255, 255);
  top: 14%;
  border: 1px solid rgba(212, 212, 212, 0.93);
  z-index: 4;
  width: 50px;
  border-radius: 12px;
  ion-icon {
    font-size: 1.8em;
    color: rgb(255, 255, 255);
    z-index: 4;
  }
}

#title {
  height: 2% !important;
  // border-bottom-left-radius: 4px;
  // border-bottom-right-radius: 4px;
}

#mytite {
  padding: 2px !important;
  background: #f7f7f7;
  border-radius: 30px;
  margin-left: 19%;
  margin-top: 2%;
  width: 45%;
  height: 14%;
  ion-icon {
    width: 10%;
    margin: 2px;
  }
  // height:14% ;
  //  border: 1px solid #fbb91d;
}

#leftshit {
  margin: 2%;
  border: 2px solid #fbb91d;
  border-radius: 12px+5;
  padding: 5px;
  color: white;
  background: #fbb91d;
  left: 35% !important;
  position: relative;
}

#star {
  // color: color($colors, dark, base);
  border: 1px solid rgba(212, 212, 212, 0.93);
  margin-top: 1%;
  //
}

#rides {
  border-radius: 12px;
  border: 1px solid rgba(212, 212, 212, 0.93);
}

#unstar_1 {
  margin-top: 3%;
  // --background: url("src/assets/img/car.png") no-repeat center;

  background-size: contain;
  border: 1px solid #fbb91d;
  //
  h2 {
    padding: 4px !important;
    background: #fbb91d;
    border-radius: 30px;
  }
}

#unstar {
  margin-top: 3%;
  margin-left: 2.5% !important;
  //
  //   background: linear-gradient(rgba(39, 18, 37, 0.541), rgba(69, 23, 73, 0.623) rgba(90, 18, 90, 0.336)) , url($myUrl) no-repeat;
}

#unstar_2 {
  margin-top: 3%;
  margin-left: 2.5% !important;
  // --background: url("src/assets/img/a-splash-1.png") no-repeat center;

  background-size: cover;
  border: 1px solid #fbb91d;
  //
  h2 {
    padding: 4px !important;
    background: #fbb91d;
    border-radius: 30px;
  }
}

#top_container {
  // --background: url("src/assets/img/logo-icon.png") no-repeat center;
  height: 30%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  //
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;

  .stuff {
    margin-top: 10%;
  }
  //background: #f7f7f7;
}

#buttonContainer {
  // margin-top: 0%;
  float: right;
  button {
    //height: 80% !important;
    background: rgb(0, 0, 0);
    color: #ffffff;
  }

  .button {
    font-size: 1em;
    width: 130px;
    height: 50px;
    font-weight: bolder;
  }
}

#buttonContainer2 {
  button {
    //height: 80% !important;
    background: rgb(0, 0, 0);
    color: #ffffff;
  }

  .button {
    font-size: 1em;
    width: 130px;
    height: 50px;
    font-weight: bolder;
  }
}

.gutton {
  //  background: linear-gradient(rgba(1, 17, 41, 0.89), rgba(8, 25, 44, 0.623) rgba(3, 17, 31, 0.438)) , url($myUrl) no-repeat;

  height: auto;
  width: 100%;
  //margin-left: 26%;
  //border: 1px solid #fbb91d;
  //background-position: left;
  font-size: 1.1em;
  text-align: center;
}

#container {
  margin-top: 2%;
  height: auto;
  width: 100%;
  padding: 5px;
  // border-radius:12px;
  color: white;
  text-align: center;
  // background: #fbb91d;
  // border: 1px solid #fbb91d;
  //
  // overflow: hidden;
  h2 {
    font-size: 1em;
    height: auto;
  }

  ion-icon {
    margin: 3px;
  }
}



#container_1 {
  padding: 10px;
  width: 50%;
  color: white;
  margin: 1px;
  border-radius: 20px;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  border: 0.5px solid rgb(248, 248, 248);
  ion-icon {
    color: #ffffff;
  }
  h2 {
    font-size: 1em;
  }

  .profile-pic {
    width: 15%;
    height: 18%;
  }
}

ion-toggle {
  float: right;
  width: 100%;
  border: 2px solid #f7f7f7;
  border-radius: 30px;
  background: #ffffff;
  padding: auto;

  margin-top: 4% !important;
  margin: 3%;
}



#header {
  height: auto;
  width: 100%;
  padding: 5px;
  border-radius: 0px;
  color: black;
  text-align: center;
  background: #f7f7f7;
  //overflow: hidden;
  // border: 1px solid rgba(212, 212, 212, 0.93);
}

#slopw {
  //border: 1px solid rgba(212, 212, 212, 0.93);
  width: 100%;
  margin-left: -1%;
  overflow: auto !important;
  padding: 10px;
}

.mid-right {
  ion-icon {
    color: #0a0a0a !important;
  }

  padding-left: 80%;
  margin-top: 20%;
  z-index: 3;
}

.topBar {
  height: auto;
  width: 100%;
  margin-top: 5%; //change to 10%
  z-index: 3;
  padding: 8px;
  //background: linear-gradient(rgba(95, 94, 94, 0.041), rgba(2, 92, 161, 0) 38);

  button {
    //height: 80% !important;
    background: rgb(0, 0, 0);
    border-radius: 12px;
    color: #ffffff;
    margin: 6px;
    // border: 6px solid#ffffff;
    padding: 15px;
  }
  ion-icon {
    font-size: 2em;

    color: #000000;
    padding: 15px;
  }
  .button-right {
    float: left;
  }
}

#myBadge {
  height: auto;
  font-size: 1.6em;
  border-radius: 12px;
}

#map_layer {
  z-index: 13;
  position: unset !important;
  // border-radius: 12px;
  animation-name: wiki;
  animation-duration: 5s;
  padding: 5px;
  // background: #ffffff;
  overflow: auto !important;
  // margin-top: 20% !important;
  .button {
    margin-top: 0% !important;
    // height: auto;
    //width: 100%;
    // border-radius: 12px;
    text-align: center;
    //margin: 5px;
    // padding: 20px;
    ion-icon {
      color: #000000;
    }
  }

  .guts {
    border-radius: 12px;
    background: rgb(255, 255, 255);
  }

  .button_1 {
    background: #ffffff;
    margin-top: 2px;
    height: auto;
    width: 100%;
    border-radius: 12px;
    text-align: center;
    .profile-pic {
      height: 70%;
      width: 43%;
      border: 1.6px solid rgb(255, 255, 255);
    }
    //background-position: left;
  }

  .button_2 {
    background: #9d08e2;
    margin-top: 2px;
    height: auto;
    width: 100%;
    border-radius: 12px;
    text-align: center;
    background-position: left;
  }

  // ion-icon{
  //   color:#ffffff;
  // }
}

h1 {
  color: #ffffff;
  font-size: 1.4em;
}

.stack {
  text-align: center;
  font-size: 0.5em;
  color: white;
}

.guttonz {
  background: red;
  border-radius: 15px;
  height: auto;
  width: 50%;
  margin-left: 4%;
  // box-shadow: 0px 0px 1px 0px color($colors, nav-shadow, base);
  color: white;
}

.mid-right {
  // float: right;
  padding-left: 80%;
  margin-top: 20%;
  z-index: 3;
}

.mid-right2 {
  // float: right;
  padding-left: 80%;
  margin-top: 40%;
  z-index: 3;

  ion-icon {
    color: #0a0a0a !important;
  }
}

ion-footer {
  background: #00000015;
  #lower_items {
    height: auto;
    width: 100%;
    color: white !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    // background:#ffffff;
    z-index: 15;
  }

  .button {
    width: 100%;
    //color: white !important;
  }

  .buttons {
    margin-top: 10% !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    margin-left: 60%;
    padding: auto !important;
    background: #fbb91d;
    z-index: 300 !important;
    border: 0.7px solid #fbb91d;
    color: white;
    font-size: 17px;
  }

  #rides {
    border-radius: 30px;
    margin: 1px;
    border: 1px solid rgba(212, 212, 212, 0.93);

    ion-title {
      color: white;
    }
  }

  .back_col {
    background: #1e181f;
    color: white;
  }
}

//NEW DESIGNGS
.driverFound {
  height: 50%;
  width: 95%;
  margin-left: 1.5%;
  background: white;
  position: absolute;
  bottom: 2%;
  z-index: 1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.headSection {
  background-color: #000000;
  color: #fbb91d;
  margin-top: -6%;
  border-top-left-radius: 27px;
  border-top-right-radius: 30px;
  display: inline-block;
  width: 100%;
  height: 88px;
  text-align: center;
}
.moveHeader {
  justify-content: center;
  align-items: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.request-for-ride2 {
  height: 200px;
   background: white;
}

.centerText {
  text-align: center;
  font-size: 16px !important;
}

.resultContainer {
  width: 100%;
  position: relative;
  left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  // padding: 10px;
   padding-right: 5%;
    padding-left: 5%;
  border-bottom: #bababa solid 1px;
  background-color: white;
}
.resultContainer2 {
  width: 100%;
  position: relative;
  left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  background-color: white;
}

.bookImage,
.bookTitle,
.bookPrice {
  margin-left: 7px;
}

.content-wrap,
.img-wrapper {
  display: inline-block;
  margin-left: 0px;
}

.content-wrap2 {
  display: inline-block;
}

#drivericonSize {
  font-size: 90px !important;
}

.centerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btn-center {
  justify-content: center;
  align-items: center;
  text-align: center;
    background: white;
}

.chatIcon {
  width: 40px;
  height: 40px;
  position: relative;
  // margin-left: 0%;
  // margin-top: -12%;
}

.callIcon {
  width: 40px;
  height: 40px;
  position: relative;
  // margin-left: 10%;
  // margin-top: -12%;
}

.dott {
  width: 20px;
  height: 20px;
}

.buttons123 {
  margin-top: 10% !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  margin-left: 60%;
  padding: auto !important;
  background: #fbb91d;
  z-index: 300 !important;

  color: #050505;
  font-size: 17px;
}

.button-native {
  box-shadow: none !important;
}
.centerEarnings {
  text-align: center;
  margin: 10px;
  font-weight: 600;
  color: #fbb91d;
}

.topped {
  text-align: center;
  // margin: 10px;
  // font-weight: 600;
  // color: #fbb91d;
}

// .ion-color-dark {
//   --ion-color-base: #fbb91d !important;
//   --ion-color-base-rgb: #fbb91d !important;
//   --ion-color-contrast: #fbb91d !important;
//   --ion-color-contrast-rgb: #fbb91d !important;
//   --ion-color-shade: #fbb91d !important;
//   --ion-color-tint: #fbb91d !important;
// }

/* your custom CSS \*/
@keyframes pulsate {
  from {
    -moz-transform: scale(0.25);
    opacity: 1;
  }
  95% {
    -moz-transform: scale(1.3);
    opacity: 0;
  }
  to {
    -moz-transform: scale(0.3);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  from {
    -webkit-transform: scale(0.25);
    opacity: 1;
  }
  95% {
    -webkit-transform: scale(1.3);
    opacity: 0;
  }
  to {
    -webkit-transform: scale(0.3);
    opacity: 0;
  }
}
/* get the container that's just outside the marker image, 
		which just happens to have our Marker title in it */
#map-canvas div[title="pinIcon"] {
  -moz-animation: pulsate 1.5s ease-in-out infinite;
  -webkit-animation: pulsate 1.5s ease-in-out infinite;
  border: 1pt solid #fff;
  /* make a circle */
  -moz-border-radius: 51px;
  -webkit-border-radius: 51px;
  border-radius: 51px;
  /* multiply the shadows, inside and outside the circle */
  -moz-box-shadow: inset 0 0 5px #fbb91d, inset 0 0 5px #fbb91d, inset 0 0 5px #fbb91d,
    0 0 5px #fbb91d, 0 0 5px #fbb91d, 0 0 5px #fbb91d;
  -webkit-box-shadow: inset 0 0 5px #fbb91d, inset 0 0 5px #fbb91d, inset 0 0 5px #fbb91d,
    0 0 5px #fbb91d, 0 0 5px #fbb91d, 0 0 5px #fbb91d;
  box-shadow: inset 0 0 5px #fbb91d, inset 0 0 5px #fbb91d, inset 0 0 5px #fbb91d,
    0 0 5px #fbb91d, 0 0 5px #fbb91d, 0 0 5px #fbb91d;
  /* set the ring's new dimension and re-center it */
  height: 51px !important;
  margin: -18px 0 0 -18px;
  width: 51px !important;
}
/* hide the superfluous marker image since it would expand and shrink with its containing element */
/*	#map-canvas div[style*="987654"][title] img {*/
#map-canvas div[title="pinIcon"] img {
  display: none;
}
