<ion-content class="no-scroll">
  <div id="map-canvas">
    <div class="topBar">
      <ion-menu-toggle (click)="toggle()" autoHide="false">
        <!-- *ngIf="hasNotPicked && hasEnded" -->
        <ion-button
       
  
          style="
            --border-radius: 100%;
            width: 60px;
            height: 60px;
            --vertical-align: middle;
            --padding-start: -5px;
            --padding-end: -5px;
          "
        >
          <ion-icon name="ios-menu" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-toggle>

      <!-- chooseSubscriptiontype() -->

       <!-- <div id="buttonContainer" *ngIf="subscribed == false && has_subscribed == undefined " >
        <ion-button
        
          size="large"
          shape="round"
          color="primary"
          class="button"
          (click)="chooseSubscriptiontype()"
        >
          <ion-grid style="color: #000000">
            <ion-row>
              <ion-col>
                SUBSCRIBE
                <ion-title style="color: #000000" id="demo"></ion-title>
              </ion-col>
            </ion-row>
            
          </ion-grid>
        </ion-button>



      </div> -->
      <!-- *ngIf="subscribed == true || has_subscribed != undefined " -->

      <div id="buttonContainer" >
        <ion-button
          *ngIf="!this.pop.loggedOff"
          size="large"
          shape="round"
          color="primary"
          class="button"
          (click)="goOffline()"
        >
          <ion-grid style="color: #228b22">
            <ion-row>
              <ion-col>
               GO OFFLINE
                <ion-title style="color: #000000;
    font-size: 12px;" id="demo"></ion-title>
              </ion-col>
            </ion-row>
            
          </ion-grid>
        </ion-button>

        <ion-button
          class="button"
          size="large"
          color="primary"
          shape="round"
          *ngIf="this.pop.loggedOff && hasEnded && !hasNotFoundMap"
          (click)="goOnline()"
        >
          <div style="color: #f00a0a">GO ONLINE</div>
        </ion-button>

        <ion-button *ngIf="this.pop.loggedOff && hasNotFoundMap">
          <ion-spinner color="#ffffff" name="bubbles"></ion-spinner>
        </ion-button>
      </div>

      <div class="mid-right">
        <ion-fab slot="fixed">
          <ion-fab-button color="primary"> SOS </ion-fab-button>
          <ion-fab-list side="top">
            <ion-fab-button (click)="call_phone()"
              ><ion-icon name="call"> </ion-icon
            ></ion-fab-button>
          </ion-fab-list>

          <ion-fab-list side="start">
            <ion-fab-button (click)="call_phone_other()"
              ><ion-icon name="body"> </ion-icon
            ></ion-fab-button>
          </ion-fab-list>

          <ion-fab-list side="bottom">
            <ion-fab-button (click)="call_phone_other()"
              ><ion-icon name="bonfire"> </ion-icon
            ></ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </div>

      <div [hidden]="isPiked == true">
        <div class="mid-right2">
          <ion-fab slot="fixed">
            <ion-fab-button (click)="gotoDestination()">
              <ion-icon name="navigate"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </div>

      <div *ngIf="isArrived">
        <div class="mid-right2">
          <ion-fab slot="fixed">
            <ion-fab-button (click)="gotoMap()">
              <ion-icon name="navigate"></ion-icon>
            </ion-fab-button>
          </ion-fab>
        </div>
      </div>
    </div>

    <div id="map_layer">
      
   
      <label *ngIf="!hasEnded">
        <input type="checkbox" name="run" value="click" />
        <div id="button1" class="button" style="z-index: 999999999999">
          <ion-icon
            name="ios-more"
            style="font-size: 34px; margin-top: 13px"
          ></ion-icon>

          <button class="main-con">
            <div class="driverFoundNew" *ngIf="!hasEnded">
              <div class="ion-padding" class="request-for-ride2">
                <div
                  class="headSection"
                  *ngIf="hasNotPicked && pop.hasPicked == false"
                >
                  <div class="moveHeader">
                    <span
                      style="
                        font-size: 25px;
                        font-weight: 800;
                        margin-left: 10%;
                      "
                    >
                      <strong>Pickup Rider</strong></span
                    >
                    <br />
                    <span class="centerText">ETA {{dProvider.time}}</span>
                  </div>
                </div>

                <div
                  class="headSection"
                  *ngIf="!hasNotPicked && isPiked == true"
                >
                  <div class="moveHeader">
                    <span
                      style="
                        font-size: 25px;
                        font-weight: 800;
                        margin-left: 10%;
                      "
                    >
                      <strong>Start Your Ride</strong></span
                    >
                    <br />
                    <span class="centerText">ETA {{dProvider.time2}}</span>
                  </div>
                </div>

                <div class="headSection" [hidden]="!pop.hasPicked">
                  <div class="moveHeader">
                    <span
                      style="
                        font-size: 25px;
                        font-weight: 800;
                        margin-left: 10%;
                      "
                    >
                      <strong>Enroute to destination</strong></span
                    >
                    <br />
                    <span class="centerText">ETA {{dProvider.time2}}</span>
                  </div>
                </div>

                <div class="resultContainer">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="3">
                        <div class="img-wrapper">
                          <ion-icon
                            name="contact"
                            id="drivericonSize"
                            (click)="OpenInfo()"
                          ></ion-icon>
                        </div>
                      </ion-col>
                      <ion-col size="5">
                        <div class="content-wrap">
                          <span class="bookTitle">Rider</span>
                          <br />
                          <span
                            style="font-size: 30px; font-weight: 800"
                            class="bookPrice"
                            >{{name}}</span
                          >
                        </div>
                      </ion-col>

                      <ion-col size="4">
                        <div class="content-wrap">
                          <span class="bookTitle">
                            <img
                              src="assets/icon/chat.svg"
                              class="chatIcon"
                              (click)="SendMessage()"
                          /></span>
                          <br />
                        </div>

                        <div class="content-wrap">
                          <span class="bookTitle">
                            <ion-icon
                              name="call"
                              class="callIcon"
                              (click)="call()"
                            ></ion-icon>
                          </span>
                          <br />
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>

                <div class="resultContainer2" [hidden]="timeOver && !isArrived">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="2">
                        <div class="img-wrapper">
                          <img src="assets/icon/pin.png" class="dott" />
                        </div>
                      </ion-col>
                      <ion-col size="10">
                        <div class="content-wrap2">
                          <span
                            style="font-size: 16px; font-weight: 500"
                            class="bookPrice"
                            >{{destination}}
                          </span>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>

                <div [hidden]="!pop.hasPicked">
                  <div id="btn-center">
                    <div>
                      <ion-button
                        class="button"
                        size="large"
                        color="danger"
                        shape="round"
                        (click)="ConfirmDrop()"
                      >
                        <div>END TRIP</div>
                      </ion-button>
                    </div>
                  </div>
                </div>

                <div [hidden]="isPiked == true">
                  <div id="btn-center">
                    <div>
                      <ion-button
                        class="button"
                        size="large"
                        color="primary"
                        shape="round"
                        (click)="ConfirmPickup()"
                      >
                        <div>START TRIP</div>
                      </ion-button>
                    </div>
                  </div>
                </div>

                <div [hidden]="isArrived">
                  <div id="btn-center">
                    <div>
                      <ion-button
                        class="button"
                        size="large"
                        color="dark"
                        shape="round"
                        (click)="HasArrived()"
                      >
                        <div>ARRIVED</div>
                      </ion-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </button>
        </div>
      </label>
      <!-- END DRIVER MODE-->
    </div>
  </div>
</ion-content>

<ion-footer no-border id="lower_items" *ngIf="hasEnded">
  <ion-button expand="block" ion-text-center color="primary" (click)="hoseMe()">
    <ion-icon *ngIf="!hideMe" name="arrow-round-up" color="dark"></ion-icon>
    <ion-icon *ngIf="hideMe" name="arrow-round-down" color="dark"></ion-icon>
  </ion-button>
  <div [hidden]="!isNotDestinyOption" *ngIf="hideMe">
    <h3 class="centerEarnings">Earnings</h3>
    <div class="topped">
      <ion-badge id="myBadge" color="primary" slot="end"
        >{{settings.appcurrency}} {{mr}}
      </ion-badge>
    </div>
  </div>
</ion-footer>
